@font-face {
  font-family: font;
  src: url(font.otf);
}

*{
  margin:0;
  padding: 0;
  color: white;
  border: none;
  font-family: font;
  font-weight: 200;
  box-sizing: border-box;
}


body{
  background-color: #232429;

}

nav{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}

footer{
  padding: 10% 10% 15% 10%;
}

footer h2{
  font-weight: bold;
  font-size: 40px;
}

.container{

}

.jumbotron{
  position: relative;
  height:  80vh;
}

.jumbotron h1, .jumbotron p{
  position: relative;

}

.jumbotron h1{
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}
.jumbotron p{
  position: absolute;
  left: 10%;
  width: 80%;
  top: 77%;
  text-align: center;;
}


.proj-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* height: content; */
}
.project, .skill{
  position: relative;
  width: 100vw;
  height: 100vw;
  border: 1px solid #38393F;
  box-sizing: border-box;
}

.project h4{
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 20px
}
.project h3{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 35px
}

.project p{
  position: absolute;
  top: 62%;
  left: 10%;
  width: 50%;
  font-size: 12px;
}

.project .links{
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 90%;
  left: 10%;
  width: 80%;
  font-size: 12px;

}

.project .links a{
  text-decoration: underline;
  /* display: inline-block; */
  color: darkgray;
  font-size: 15px;
}

.skill-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.skill{
  position: relative;
  padding: 10%;
  flex: 0 0 auto;
}
.skill h3, .skill h4, .skill ul{
  position: relative;
}
.skill h3{
  font-size: 30px;
  font-weight: bold;
}

.skill h4{
  font-size: 20px;
  margin-bottom: 20px;
}

.skill ul{
  list-style: none;
}

.skill ul .listtitle{
  font-weight: bold;
  margin: 12px 0 7px 0;
}

.skill {
  position: relative;
  width: 100%;
  bottom: 10%;
}

.scrollwrapper{
  position: relative;
  /* display: block; */
  width: 300px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  bottom: 70px;
  border: 2px solid transparent;
}

.skill #rail{
  position: absolute;
  margin:auto;
  bottom: 0px;
  border: .2px solid gray;
  height: 0px;
  width: 150px;
  left: 50%;
  transform: translate(-50%);
}

.skill #handler{
  position: absolute;
  display: block;
  margin:auto;
  bottom: 0px;
  background-color: yellow;
  border-radius: 2px;
  height: 4px;
  width: 50px;
  left: 50%;
  transform: translate(-50%, 2px);
}


.wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#frame{
  position: absolute;
  height: 40%;
  width: 60%;
  top: 30%;
  left: 20%;
  border: 10px solid #38393F;
  box-sizing: border-box;
  border-radius: 400px 400px 0px 400px;
 }

#menuicon{
  padding: 0;
  margin: 20px;
  width: 30px;
  height: 30px;
  border: 2px solid yellow;
  border-radius:  20px;
  box-sizing: border-box;
}
